 .sign-img {
  width: 150px;
  margin: 15px 0 5px 0;
  display: block;
}

body{
  background-color: #fce1e7;
}
body a {
  color: white;
}

body a:hover{
  color: whitesmoke;
  text-decoration: none;
}

#signs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sign{
  flex: 1 0 25%;
  background-color: #efc9df;
  border: 2px solid #e7d4d8;
  margin: 10px;
  padding: 10px;
}

#days-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color:#df94c0;
}
